body {
  margin:10px;
}

.logo {
  margin: auto;
  width: 300px;
  height: 250px;
  display: block;
  padding-top: calc(250px - 125px);
}

.Part-1 {
  width: 300px;
  height: 250px;
  padding-top: calc(250px - 125px);
  position: absolute;
  display: block;
  left: -300px;
}

.Part-2 {
  width: 300px;
  height: 250px;
  padding-top: calc(250px - 125px);
  position: absolute;
  display: block;
  left: -300px;
}

.Part-3 {
  width: 300px;
  height: 250px;
  padding-top: calc(250px - 125px);
  position: absolute;
  display: block;
  padding-left: 120px;
}

#beyond {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: white;
  padding-top: calc(300px - 125px);
  text-align: center;
  font-size: 40px;
  margin-bottom: auto;
  margin-top: auto;
}

#colors {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: white;
  padding-top: calc(300px - 39px);
  text-align: center;
  font-size: 65px;
  margin-bottom: auto;
  margin-top: auto;
}

.blue {
  width: 285px;
  height: 285px;
  padding-top: calc(250px - 125px);
  padding-left: 0px;
  margin-left: 10px;
  position: absolute;
  left: -285px;
  z-index: 15;
}

.red {
  width: 285px;
  height: 285px;
  padding-top: calc(250px - 125px);
  padding-left: 140px;
  margin-left: 10px;
  position: absolute;
  z-index: 10;
  overflow-x: hidden;
}

.endslide-1 {
  width: 600px;
  height: 600px;
  padding-left: 0px;
  margin-left: 10px;
  position: absolute;
  z-index: 10;
}

.never-settle {
  width: auto;
  height: auto;
  padding-left: 0px;
  margin-left: 10px;
  position: absolute;
  z-index: 15;
}

.popup {
  padding-top: calc(300px - 210px);
  margin-bottom: auto;
  margin-left: 202px;
  margin-top: auto;
  position: absolute;
  width: 225px;
  z-index:25;
  height: 80px;
}



#panel3 #orderNow {
  font-family: 'Roboto', sans-serif;
  position:absolute;
  top:420px;
  left:250px;
  background:#ffc600;
  color:#000;
  font-size:25px;
  font-weight:700;
  padding:10px;
  border-radius:10px;
  border: 4px solid transparent;
  z-index: 30;
}

#panel3 #orderNow:hover {
  font-family: 'Roboto', sans-serif;
  background:#ffaa00;
  border: 4px solid #fff;
  cursor: pointer;
  position: absolute;
  z-index: 30;
}

.demo {
  width: 600px;
  height: 600px;	
  background-color: #000000;
  overflow: hidden;
}